@model Domain.Helpers.Response

<div class="col-md-12" style="display:none" id="loading">
    <h6>Espere un momento...</h6>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

<div id="div-alert" class="col-12">
    <div class="text-center alert alert-@Model.Color"><i class="fa @Model.Icon">&nbsp;</i>@Html.Raw(Model.Message)</div>
</div>

<a href="@Url.Action("CategoriasPlanillaAsignadas","Trabajadores", new { id = ViewBag.TrabajadorID })" class="btn btn-outline-primary" id="btn-return">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Volver a la lista
</a>

<button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">
    <i class="fa fa-times-circle-o"></i> Cerrar
</button>
