<div class="table-responsive mb-4">
    Formulario de asignación
</div>
<div class="modal-footer" id="div_msg">
    <a href="@Url.Action("ConceptosAsignados","PlantillaPlanilla", new { id = ViewBag.PlantillaPlanillaID })" class="btn btn-primary" id="btn-agregar">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Regresar concepto
    </a>
    <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o"></i>&nbsp;Cerrar</button>
</div>
