@model Domain.Helpers.Response

<div class="col-md-12" style="display:none" id="loading">
    <h6>Espere un momento...</h6>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

<div id="div-alert" class="col-12">
    <div class="text-center alert alert-@Model.Color"><i class="fa @Model.Icon">&nbsp;</i>@Html.Raw(Model.Message)</div>
</div>

<button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">
    <i class="fa fa-times-circle-o"></i> Cerrar
</button>

@if (Model.Success)
{
    <script type="text/javascript">
        $(".modal").on('hide.bs.modal', function () {
            generarDatatableConceptos();
        });
    </script>
}

