
<div class="main-sidebar">
    <ul class="nav side-nav">
        <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#inquiries">
                <i class="fa fa-fw fa-search"></i> Consultas<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
            </a>
            <ul id="inquiries" class="collapse">
                <li><a href="@Url.Action("Index", "Trabajadores")"><i class="fa bi-person-lines-fill"></i> Consulta trabajadores</a></li>
            </ul>
            <ul id="inquiries" class="collapse">
                <li><a href="@Url.Action("Index", "Planillas")"><i class="fa fa-file"></i> Consulta Planillas</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#help">
                <i class="fa fa-fw fa-life-ring"></i> Ayuda<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
            </a>
            <ul id="help" class="collapse">
                <li><a href="@Url.Action("Manual", "HelpCenter")"><i class="fa fa-fw fa-book"></i> Manual de usuario</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="hidden-sidebar">
    <ul class="nav hidden-side-nav hdn-sidebar">
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Dashboard">
                <i class="fa fa-3x fa-home"></i><br />Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Consultas" data-target="#inquiries">
                <i class="fa fa-3x fa-search"></i><br />Consultas
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Ayuda" data-target="#help">
                <i class="fa fa-3x fa-life-ring"></i><br />Ayuda
            </a>
        </li>
    </ul>
</div>

